body {
  background-color: #001a20;
  margin: 0;
}

.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}

pre {
  margin: 0;
}

#code-display {
  background-color: transparent;
  padding: 0;
}

.line-numbers {
  color: #7d7d7d;
  font-family: monospace;
  text-align: end;
}

textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 0.8rem;
  color: #7d7d7d;
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #96b9c0;
  font-size: large;
  padding: 0.25rem 0.5rem;
  transition: background-color 200ms ease-in-out;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  color: white;
}

.btn:hover::after,
.btn:hover::before {  
  border-radius: 15px;
  background: #173e48;
  height: 60%;
  width: 7.5%;
  position: absolute;
  top: 100%;
  left: 0%;
}

.btn:hover::before {
  content: attr(tooltip-title) "\A" attr(tooltip-desc);
  white-space: pre;
  color: white;
  padding: 0.6rem;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  top: -120%; 

  left: 50%;
  min-width: 140px;
  margin-left: -4.75%; 
  transition: all 200ms ease-in-out;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #173e48;
  padding: 15px;
  height: 2.5%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: auto;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: auto;
  margin: 0 auto;
}